@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --radius: 0.625rem;
  --background: hsl(240 25% 97%);
  --foreground: hsl(240 8% 5%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(240 8% 5%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(240 8% 5%);
  --primary: hsl(237 48% 54%);
  --primary-foreground: hsl(240 25% 97%);
  --secondary: hsl(237 70% 72%);
  --secondary-foreground: hsl(240 8% 5%);
  --muted: hsl(237, 30%, 88%);
  --muted-foreground: hsl(240 8% 64%);
  --accent: hsl(237 90% 64%);
  --accent-foreground: hsl(240 25% 97%);
  --destructive: hsl(0 85% 60%);
  --destructive-foreground: hsl(0 85% 60%);
  --border: hsl(237 25% 80%);
  --input: hsl(237 25% 80%);
  --ring: hsl(237, 88%, 77%);
}

.dark {
  --background: hsl(240 25% 3%);
  --foreground: hsl(240 8% 95%);
  --card: hsl(240 25% 3%);
  --card-foreground: hsl(240 8% 95%);
  --popover: hsl(240 25% 3%);
  --popover-foreground: hsl(240 8% 95%);
  --primary: hsl(237 48% 46%);
  --primary-foreground: hsl(240 8% 95%);
  --secondary: hsl(237 70% 28%);
  --secondary-foreground: hsl(240 8% 95%);
  --muted: hsl(240, 30%, 29%);
  --muted-foreground: hsl(240, 25%, 74%);
  --accent: hsl(237 90% 36%);
  --accent-foreground: hsl(240 8% 95%);
  --destructive: hsl(0 62% 30%);
  --border: hsl(240 25% 20%);
  --input: hsl(240 25% 20%);
  --ring: hsl(237 80% 30%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply text-foreground;
  }
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

.input-header {
  @apply rounded-b-none border-0 border-b font-medium ring-0!;
}

.sort-move {
  transition: transform 0.5s;
}